#img-upload::file-selector-button {
    display: none;
}

.notify {
    background-color: red;
}

img {
    max-width: 100%;
}

.h-90 {
    height: 22.5rem;
}

.bg-success {
    background-color: green;
}

.bg-gray {
    background-color: rgb(247 249 252);
}

.emoji-list {
    display: none;
}
.emoji-list.open {
    display: grid;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
